{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Savings and investments</h1>
    
      <p>The amount of help we might give toward care costs depends on the total value of cash, savings and investments held by the person who needs care.</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What what we mean by "savings"
            </span>
          </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Bank current accounts</li>
                <li>Building society accounts</li>
                <li>Deposit accounts or special investment accounts. This includes money held in the National Savings Bank, Girobank, and Trustee Savings Bank</li>
                <li>ISAs</li>
                <li>SAYE schemes</li>
                <li>Unit trusts</li>
                <li>Post Office Card Accounts (Watch this video for guidance on adding information about Post Office Card Accounts)</li>
                <li>Co-operatives share accounts</li>
                <li>Cash</li>
              </ul>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What we mean by "investments"
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>National Savings Certificates and Ulster Savings Certificates</li>
              <li>Premium Bonds</li>
              <li>Stocks and Shares</li>
              <li>Capital held by the Court of Protection or a Deputy appointed by that Court</li>
              <li>Trust Funds</li>
            </ul>
          </div>
        </details>
        <p class="govuk-body">The <strong>property you live in is not included</strong> as an asset or investment where care services are provided in your home.</p>
      <form class="form" action="/capital-care-at-home-answers" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "how-much-capital-do-you-have",
            name: "how-much-capital-do-you-have",
            fieldset: {
              legend: {
                text: "What is the total value of cash, savings and investments?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Held by the person needing care services"
            },
            items: [
              {
                value: "Between £0 and £14,250",
                text: "Between £0 and £14,250",
                checked: checked("how-much-capital-do-you-have", "Between £0 and £14,250")
              },
              {
                value: "Between £14,250 and £23,250",
                text: "Between £14,250 and £23,250",
                checked: checked("how-much-capital-do-you-have", "Between £14,250 and £23,250")
              },
              {
                value: "More than £23,250",
                text: "More than £23,250",
                checked: checked("how-much-capital-do-you-have", "More than £23,250")
              }
            ]
          }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Care Assessments
              </a>
            </li>
            <li>
              <a href="#">
                Financial Assessments
              </a>
            </li>
            <li>
              <a href="#">
                Deferred Payment Scheme
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
    </div>
  
{% endblock %}
