{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Care services</h1>
      <p>Charges for services are different depending on whether they are provided in your own home, or in a residential or nursing home.</p>
      <p>If you're not sure, you'll need to contact us so we can carry out an assessment of need, called a <a href="https://www.northlincs.gov.uk/people-health-and-care/services-for-adults/" class="govuk-link">Care Assessment</a>.</p>

      <form class="form" action="/care-type-answers" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

            {{ govukRadios({
              idPrefix: "what-type-of-care",
              name: "what-type-of-care",
              fieldset: {
                legend: {
                  text: "What type of care is needed?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Care at home",
                  text: "Care at home",
                  checked: checked("what-type-of-care", "Care at home")
                },
                {
                  value: "Residential care/Nursing home",
                  text: "Residential care/Nursing home",
                  checked: checked("what-type-of-care", "Residential care/Nursing home")
                }
              ]
            }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.northlincs.gov.uk/people-health-and-care/services-for-adults/">
                Care Assessments
              </a>
            </li>
            <li>
              <a href="https://northlincs.bettercare.org.uk/">
                Financial Assessments
              </a>
            </li>
            <li>
              <a href="https://www.northlincs.gov.uk/people-health-and-care/deferred-payment-scheme/">
                Deferred Payment Scheme
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
