{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Care needed</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Charges for services are different depending on whether they are in your own home and community, or in a care or nursing home.</p>
      <p>The council will carry out an assessment of need, called a <a href="#" class="govuk-link">Care Assessment</a>.</p>

      <form class="form" action="/care-type-answers" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

            {{ govukRadios({
              idPrefix: "what-type-of-care",
              name: "what-type-of-care",
              fieldset: {
                legend: {
                  text: "What type of care is needed?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Care at home",
                  text: "Care at home",
                  checked: checked("what-type-of-care", "Care at home")
                },
                {
                  value: "Residential care/Nursing home",
                  text: "Residential care/Nursing home",
                  checked: checked("what-type-of-care", "Residential care/Nursing home")
                }
              ]
            }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Guide to care costs</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Care assessments</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Financial assessments</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
