{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block pageScripts %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">We can help you pay for your care</h1>
      <p class="govuk-body-l">Based on your answers, you could get help from the council with paying for your care.</p>
      <p class="govuk-body">Depending on how much your care will cost, you will have to pay for some or all of your care.</p>
      <p class="govuk-body">The amount you pay is assessed through a "financial assessment" that will show how much of your <strong>income</strong> you can afford to contribute.</p>
      <p class="govuk-body">If the cost of your care is less than your assessed contribution, you will pay for all of it. If the cost is more than your assessed contribution, the council will pay the difference.</p>
  
        <h2 class="govuk-heading-m">What next?</h2>
        <p class="govuk-body">There are a few things you could do next:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="#">I want to speak to someone about arranging care services</a>
          </li>
          <li>
            <a class="govuk-link" href="#">I care for someone and want to know about Carers Allowance</a>
          </li>
          <li>
            <a class="govuk-link" href="#">I want to know exactly how much I could pay for care services</a>
          </li>
          <li>
            <a class="govuk-link" href="#">I want to learn more about how you calculate contributions</a>
          </li>
          <li>
            <a class="govuk-link" href="#">I want to know if I will have to sell the house</a>
          </li>
        </ul>
      </br>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Change your answers</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of care is needed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-type-of-care'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/care-type">
              Change
              <span class="govuk-visually-hidden"> care needed</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How much capital do you have?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['how-much-capital-do-you-have'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/capital-care-at-home">
                Change
                <span class="govuk-visually-hidden"> amount of capital</span>
              </a>
            </dd>
        </div>
      </dl>

    </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                  Care Assessments
                </a>
              </li>
              <li>
                <a href="#">
                  Financial Assessments
                </a>
              </li>
              <li>
                <a href="#">
                  Deferred Payment Scheme
                </a>
              </li>
              <li>
                <a href="#" class="govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
</div>

{% endblock %}
