{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block pageScripts %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">You will have to pay the full costs of your care</h1>
      <p class="govuk-body-l">Based on your answers, you would have to cover the costs of care yourself.</p>
      <div class="govuk-inset-text">An exception to this is if you have complex health needs or you need primary health care, rather than social care. You may be eligible for NHS funded care.</div>
      <p class="govuk-body">We can help you find suitable residential or nursing homes and make arrangements if you wish, but you are free to make any arrangements you choose and pay the providers directly.</p>
      <p class="govuk-body">When your savings and investments reduce to less than £23,250 you may qualify for financial support.</p>
      <p class="govuk-body">To apply for financial support you will need to contact the Adult Services Access Team to request a <a class="govuk-link" href="https://www.northlincs.gov.uk/people-health-and-care/services-for-adults/">Care Assessment</a>, and complete a <a class="govuk-link" href="https://northlincs.bettercare.org.uk/">Financial Assessment</a> form. We recommend you apply slightly before your capital falls below £23,250 to allow time for your application to be processed.</p>
  
        <h2 class="govuk-heading-m">What next?</h2>
        <p class="govuk-body">There are a few things you could do next:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://www.northlincs.gov.uk/people-health-and-care/find-local-care-and-support-for-adults-or-older-people/">Speak to someone about arranging care services</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.northlincs.gov.uk/people-health-and-care/money-and-legal-matters/">Learn more about how to pay for services</a>
          </li>
          <li>
            <a class="govuk-link" href="https://northlincs.bettercare.org.uk/">Find out exactly how much you could pay for care services</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.ageuk.org.uk/information-advice/money-legal/benefits-entitlements/carers-allowance/">Learn about Carers Allowance</a>
          </li>
        </ul>
      </br>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m">Change your answers</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of care is needed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-type-of-care'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/care-type">
              Change
              <span class="govuk-visually-hidden"> care needed</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the person needing care own, or part-own their home?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home-ownership'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/property">
              Change
              <span class="govuk-visually-hidden"> home ownership status</span>
            </a>
          </dd>
      </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How much capital do you have?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['how-much-capital-do-you-have'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/capital">
                Change
                <span class="govuk-visually-hidden"> amount of capital</span>
              </a>
            </dd>
        </div>
      </dl>

    </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Related content
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.northlincs.gov.uk/people-health-and-care/services-for-adults/">
                  Care Assessments
                </a>
              </li>
              <li>
                <a href="https://northlincs.bettercare.org.uk/">
                  Financial Assessments
                </a>
              </li>
              <li>
                <a href="https://www.northlincs.gov.uk/people-health-and-care/deferred-payment-scheme/">
                  Deferred Payment Scheme
                </a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
</div>

{% endblock %}
