{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Eligibility for financial support</h1>

      <h2 class="govuk-heading-m">Financial details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much capital do you have?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['how-much-capital-do-you-have'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/capital">
              Change
              <span class="govuk-visually-hidden"> amount of capital</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of care is needed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-type-of-care'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/care-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Not eligible</h1>
            <div class="govuk-panel__body">
              You will have to pay the full costs of your care
            </div>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
            <p>As a self-funder of care services, you are free to make any arrangements you choose and pay the providers directly.</p>
            <p>If you would like to get some assistance in finding suitable service providers, please contact the Adult Services Access Team on 01724 297000.</p>
            <p>When your savings and investments reduce to less than £23,250 you will qualify for financial support. To apply for financial support you will need to complete a Financial Assessment form. We recommend you apply slightly before your capital falls below £23,250 to allow time for your application to be processed.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-bottom-9"></p>
      <p class="govuk-body govuk-!-margin-bottom-5">Thanks! This is the end of the prototype tool. Please let us know what you think about it.</p>
  {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Go to feedback form",
      href: "https://forms.office.com/Pages/ResponsePage.aspx?id=7VVmWP8siUCBl7TBC3s9o3IJ7tcJddtNjuRoxI6nkllUN0tZTTdQWlRJRE1UQ1owMEE4NEtGS0swWiQlQCN0PWcu"
    })
  }}
</div>
</div>
{% endblock %}
