{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Eligibility for financial support</h1>

      <h2 class="govuk-heading-m">Check your answers</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of care is needed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-type-of-care'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/care-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you own your own home?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home-ownership'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/property">
              Change
              <span class="govuk-visually-hidden"> amount of capital</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much capital do you have?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['how-much-capital-do-you-have'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/capital">
              Change
              <span class="govuk-visually-hidden"> amount of capital</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Not eligible</h1>
            <div class="govuk-panel__body">
              You will have to pay the full costs of your care
            </div>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
            <p>As a self-funder of care services, you are free to make any arrangements you choose and pay the providers directly.</p>
            <p>If you would like to get some assistance in finding suitable service providers, please contact the Adult Services Access Team on 01724 297000.</p>
            <p>When your savings and investments reduce to less than £23,250 you will qualify for financial support. To apply for financial support you will need to complete a Financial Assessment form. We recommend you apply slightly before your capital falls below £23,250 to allow time for your application to be processed.</p>
            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
              {{ govukWarningText({
                  text: "Deprivation of capital or assets",
                  iconFallbackText: "Warning"
                }) }}
            <p>If you give away large sums of your savings to friends or relatives, or transfer your assets (e.g. your property) to put yourself in a more favourable position to get local authority funding for your care and support services, the local authority may be able to financially assess you as if you still have the savings or assets.</p>
            <p>Statutory guidance allows the local authority to consider whether you have deprived yourself of a capital asset in order to either reduce your care and support costs, or approach the local authority for funding. If deprivation has occurred, the local authority will treat you as still possessing the capital asset. This is called Notional Capital.</p>
            <a href="https://www.ageuk.org.uk/information-advice/care/paying-for-care/paying-for-a-care-home/deprivation-of-assets/" target="blank">AgeUK Deprivation of Assets guidance</a>
        </div>
      </div>

    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related information</h3>
          <a href="/#" target="_blank">BetterCare Tool</a></br>
          <a href="/#" target="_blank">Indicative care costs</a></br>
          <a href="/#" target="_blank">GOV.UK</a></br>
          <a href="/#" target="_blank">Independent financial advice</a></br>
      </div>
    </div>
</div>
{% endblock %}
