{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Eligibility for financial support</h1>

      <h2 class="govuk-heading-m">Check your answers</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What type of care is needed?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['what-type-of-care'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/care-type">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you own your own home?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home-ownership'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/property">
              Change
              <span class="govuk-visually-hidden"> amount of capital</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much capital do you have?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['how-much-capital-do-you-have'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/capital">
              Change
              <span class="govuk-visually-hidden"> amount of capital</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Eligible for some financial support</h1>
            <div class="govuk-panel__body">
              You will have to pay a contribution to the cost of your care from your income, plus an extra amount depending on your capital
            </div>
          </div>
          <h2 class="govuk-heading-m">How do we work out how much your contribution will be?</h2>
          <p>We follow a simple 4 step process.</p>
          <p><strong>Example</strong></p>
          <p>Mr. Jones is 88 and is currently residing in short term residential care at The Cottage Care Home. The cost of his service is £489.00 per week. He has the following capital and savings:</p>
          <p>£19,500 - Natwest bank accounts</p>
          <p><strong>£19,500 - Total Capital</strong></p>
          <p>As Mr Jones has capital over £14,250, capital tariff of £1 for every £250 of capital over £14,250 will be included as part of his income, calculated as follows:</p>
<p>£19,500 - £14,250 = £5,250</p>
<p>£4,250 / £250 = £21.00.</p>
<p>Mr. Jones incurs capital tariff of £21.00 per week.</p>

          <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
            <ol class="app-step-nav__steps">
              <li class="app-step-nav__step js-step" id="add-income-together" >
                <div class="app-step-nav__header js-toggle-panel" data-position="1">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 1
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title">
                      Add together all of your different income
                    </span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-add-income-together-1">
                  <p class="app-step-nav__paragraph">List the different sources of income. Here is an example:</p>

                  <ol class="app-step-nav__list " data-length="7">
                    <li class="app-step-nav__list-item js-list-item ">
                      <p><strong>Income</strong></p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£125.00 per week - State Retirement Pension</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£17.00 per week - Pension Credit (Guarantee Credit)</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£3.20 per week - Pension Credit (Savings Credit)</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£21.00 per week - Capital Tariff (as calculated above)</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p><strong>£166.20 per week - Total Weekly Income</strong></p>
                    </li>
                  </ol>
                </div>

              </li>

              <li class="app-step-nav__step js-step" id="add-income-not-included" >
                <div class="app-step-nav__header js-toggle-panel" data-position="2">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 2
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title">
                      Add up any income we don't count
                    </span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-add-income-not-included-2">
                  <p class="app-step-nav__paragraph">There are some things we exclude, for example:</p>
                  <ol class="app-step-nav__list " data-length="6">
                    <li class="app-step-nav__list-item js-list-item ">
                      <p><strong>Discounts and allowances</strong></p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£24.90 per week - Personal Expenses Allowance</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£3.20 per week - Pension Credit (Savings Credit)</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p><strong>£28.10 per week - Total Weekly Discounts and allowances</strong></p>
                    </li>
                  </ol>
                </div>

              </li>

              <li class="app-step-nav__step js-step" id="total-assessed-income" >
                <div class="app-step-nav__header js-toggle-panel" data-position="3">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 3
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title">
                      Calculate total income that can be used for contributions
                    </span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-total-assessed-income-3">
                  <p class="app-step-nav__paragraph">Take the total weekly discounts and allowances from the total weekly income.</p>

                  <ol class="app-step-nav__list " data-length="3">
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>£166.20 per week - Total Weekly Income</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p>-£28.10 per week - Total Weekly Discounts and allowances</p>
                    </li>
                    <li class="app-step-nav__list-item js-list-item ">
                      <p><strong>£138.10 per week - Weekly contribution</strong></p>
                    </li>
                  </ol>
                </div>

              </li>

              <li class="app-step-nav__step js-step" id="compare-contribution-amount-with-total-cost" >
                <div class="app-step-nav__header js-toggle-panel" data-position="5">
                  <h2 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                      <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                          <span class="govuk-visually-hidden">Step</span> 4
                        </span>
                      </span>
                    </span>

                    <span class="js-step-title">
                      Compare the assessed income with the total cost of care
                    </span>
                  </h2>
                </div>

                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-compare-contribution-amount-with-total-cost-4">
                  <p class="app-step-nav__paragraph">We then compare the total assessed income (£138.10 per week), with the total cost of services (£489.00 per week). Mr. Jones would pay whichever amount is lower.</p>
                  <p>He will pay <strong>£138.10 per week</strong> toward the cost of his care.</p>
                </div>

              </li>


            </ol>
          </div>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p>If you are having, or have already had a Care Assessment and want to know exactly how much you will pay for services or you want to apply for financial support, you can use the BetterCare tool to complete a Financial Assessment.</p>
          <p>
              <a href="https://northlincs.bettercare.org.uk/" target="_blank">Go to the BetterCare Tool</a>
          </p>


        </div>
      </div>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-bottom-9"></p>
      <p class="govuk-body govuk-!-margin-bottom-5">Thanks! This is the end of the prototype tool. Please let us know what you think about it.</p>
  {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Go to feedback form",
      href: "https://forms.office.com/Pages/ResponsePage.aspx?id=7VVmWP8siUCBl7TBC3s9o3IJ7tcJddtNjuRoxI6nkllUN0tZTTdQWlRJRE1UQ1owMEE4NEtGS0swWiQlQCN0PWcu"
    })
  }}
</div>
</div>
{% endblock %}
